<div class="show_container">
  <h2 class="title"><%=@flat.name%></h2>
  <p class="address"><em><%=@flat.address%></em></p>
  <p class="description"><%=@flat.description%></p>
  <div class="info">
    <p class="price"><i class="fas fa-euro-sign"></i> <strong><%=@flat.price_per_night%></strong></p>
    <p class="guests"><i class="fas fa-user-friends"></i> <strong><%=@flat.number_of_guests%></strong></p>
  </div>
</div>
